* {
  margin: 0;
}
.app {
  background-color: #eeeeeecb;
  /* height: 100vh; */
}

.app__headerImage {
  padding: 20px;
  height: 60px;
  object-fit: contain;
}

.app__header {
  background-color: white;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
}

.app__headerImage{
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__loginContainer{
  margin-top: 25px;
 
}

.app__posts{
  padding: 20px;
}