* {
  margin: 0;
}
.app {
  background-color: #eeeeeecb;
  /* height: 100vh; */
}

.app__headerImage {
  padding: 20px;
  height: 60px;
  object-fit: contain;
}

.app__header {
  background-color: white;
  border-bottom: 1px solid lightgrey;
}

.app__signup {
  display: flex;
  flex-direction: column;
}
